.pagination {
    display: flex;
    justify-content: flex-end;

}

.pagination p {
    margin: 8px;
}

.pagination button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    cursor: pointer;
    width: 4%;
}

.pagination button:hover:not(.active) {
    background-color: #d6eaf8;
}

@media only screen and (max-width: 1130px) {
    .pagination {
        justify-content: center;
        width: 100%;
    }

    .pagination button {
        width: 10%;
    }
}
